.container{
    text-align: center;
    margin-top:23px
}
 
table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 100px;
    width: 400px;
    scroll-behavior: smooth;
   border: 8px solid black;
}
 
button{
    border-radius: 10px;
    font-size: 20px;
    background: #ffffff;
    width: 80px;
    height: 60px;
    margin: 6px;
    border: 10px solid black;
    
}
 
.calculator{
    background-color: #8153ed;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
   border: 10px solid black;
}